<div class="col-md-6 col-md-offset-3">
<div class="jumbotron">
    <div class="text-center">
    <div class="row">
        <div class="col-md-8">
            <div class="page-header">
                <h1>[ Teams ]</h1>
            </div>
        </div>

        <div class="text-left">
        <div class="col-md-4">
            <div class="page-header">
            <ul>
            <%@teams.each do |team|%>
                <h2 class="lead"><%=link_to team.name, team_path(team.id)%></h2>
            <%end%>
            </ul>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>