<div class="container-fluid"> 
    <div class="row text-center">
        <div class="col-md-12 col-sm-12 banner">
            
            <h2>Welcome to Team Task</h2>
            <p>Where we make project management, managable.</p>
                <button><%=link_to "View Tasks", tasks_path%></button>
                <button><%=link_to "View Projects", projects_path%></button>
        </div
    </div>
</div>