<h1> Site Name Here</h1>

<%if !current_user.nil?%>
<div class="topnav">
  <%= link_to "Projects", projects_path %>
  <%=link_to "User", user_path(current_user)%>
  <%=link_to "Team", team_path(current_user.team_id)%>
  
</div>
<%end%>